/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  --widthInput: 180px;
  --heightInput: 56px;
  --fieldRadius: 4px;
  --borderColorInput: #dadce0;
}
html {
  margin: 0;
  padding: 0;
  direction: rtl;
}
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: almoni-dl;
}

@font-face {
  font-family: almoni-dl;
  src: url("./assets/site/fonts/Rubik-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: almoni-dl;
  src: url("./assets/site/fonts/Rubik-Medium.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: almoni-dl;
  src: url("./assets/site/fonts/Rubik-Bold.ttf");
  font-style: normal;
  font-weight: 900;
}
app-side-bar-card {
  outline: none;
}
app-side-bar-card.active .sideBar-card {
  background-color: #0277bd;
  box-shadow: 1px 1px 3px 1px #212121;
  border-color: transparent;
  color: #e0e0e0;
}
.table-shadow {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}
.table-shadow tr {
  border-bottom: 1px solid #bdbdbd;
}
.table-shadow td {
  padding: 7px;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.button-shadow {
  outline: none;
  border: none;
  margin: 2px 3px;
  font-size: 1em;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #616161;
  cursor: pointer;
  padding: 3px 8px;
  transition: 0.1s box-shadow;
}
.button-shadow:active {
  box-shadow: 2px 2px 4px 1px #616161;
}
.line-break {
  line-break: anywhere;
}
.wrap-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 45.5%, 0.4);
}
.modal-container {
  position: relative;
  width: 80%;
  max-width: 400px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}
@media screen and (max-width: 750px) {
  .table-shadow td {
    padding: 10px 5px;
  }
  .button-shadow {
    margin: 3px;
  }
}
@media td and (max-width: 50px) {
  .button-shadow {
    margin: 3px;
  }
}
